body{
    
}
#insert_data label{
    display: block;
}
.input_fields{
    width: 20%;
    margin: 1%;
}


/*  MAIN CONTAINER   */

#headline{
 height: 50px;
 width: 100%;
 color: F8F8F8;    
 float:left;
  
}

#product-box{
    background-color: gray;
}